
workspace/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.log
workspace/.metadata/.log
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
